@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	html,
	body {
		margin: 0;
		padding: 0;

		text-rendering: optimizeLegibility;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		background-color: #0a0a0b;

		@apply text-white;
	}
}

@layer components {
	.link {
		@apply hover:underline font-semibold;
	}
}

@layer utilities {
	.blur {
		backdrop-filter: blur(20px);
	}
}
